 <section id="about"> <!-- Start about -->
      <div class="about-content wow fadeIn" data-wow-delay="1s">
        <div class="container-fluid"> <!-- Container -->
          <h2 class="hidden-xs">Shawnna Jones</h2> <!-- Your name or agency name here -->

          <div class="about-text">
            <h4 class="visible-xs">Shawnna Jones</h4>
            <p class="large">Festus, Missouri</p> <!-- Your address -->
            <br>
            
            <!-- Tell more about you -->
            <p class="large">Who has created the plastic, Botox, silicon, anti-aging cream, skin frying bed, laser hair removal egotistical Women that walk amongst us?? Is it society that molds them to not age gracefully but age fashionably? Is it the cad that pushes women into body altering surgeries? Is it the genetic competitive way of females that makes Botox a necessity? Is it the insecurity of our own mind that makes us want to be someone we are not? Is it money that makes one beautiful and flawless to the eyes? It is natural law to watch our own body decay w age. Either it's accepted or altered... tricking the eyes into seeing a timeless beauty is not genuine but man made.... If we were all blind or FACELESS, who would be voted the most beautiful Girl in the world? MIRROR MIRROR ON THE WALL... A Faceless World To Them All-- Blind Beauty... WELCOME TO MY CRYPTIC WORLD….</p>
          </div>
        </div>
      </div> <!-- End container -->
    </section>