 <section id="subscribe"> 
      <div class="container">
        <div class="row">
          <div class="col-md-8 wow fadeIn" data-wow-delay="0.2s">
            <p><span>To purchase my weekly art for sale please contact me...</span></p>
          </div>
          <div class="col-md-4 wow fadeIn" data-wow-delay="0.4s">
            <a class="page-scroll" href="#footer"><span class="btn right">CONTACT</span></a> <!-- Subscribe button -->
          </div>
        </div>
      </div>
    </section>