

    <!-- Blog
    ================================================== -->
    <section id="blog">
      <div class="dark-overlay vision">
        <div class="centered vision-border wow bounceIn">
          <h4>Welcome to</h4>
          <h2>My Blog</h2>
          <ol class="breadcrumb">
          <li><a href="./../index.html">Home</a></li>
          <li><a href="../blog.html">Blog</a></li>
          <li class="active">I love Paris</li>
        </ol>
        </div>
      </div>
    </section>

    <!-- Blog Posts
    ================================================== -->
    <div class="blog">
        <div class="container">
            <div class="row">
                <!-- Blog post 1 -->
                <div class="blog-posts">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="post wow fadeIn" data-wow-delay="1s">
                            <h2>I love Paris</h2>
                            <ul class="list-inline">
                                <li>Post By: <a href="#">Admin</a></li>
                                <li>Date: <a href="#">August 1, 2014</a></li>
                                <li>Category: <a href="#">Graphic Design</a></li>
                            </ul>
                            <img class="img-responsive" src="http://placehold.it/600x400" alt="Image">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <p>
                            <strong>Want these theme for your portfolio?</strong> Awesome Photography/Portfolio Template is a bootstrap based awesome photography portfolio template. Creatively designed to present your artwork beautifully and clean. Catch more visitors and potential clients by using Solstice Photography/Portfolio Template to showcase your photography and crafts. This is mobile responsive template, very easy to use and well-documented codes. <a href="#">here</a>.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="divider"></div>
                </div>

            </div>
        </div>
       </div>

    
    <!-- Comments
    ================================================== -->
   